.Home {
  background-color: #525252;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.TitleContainer {
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Name {
  padding: 5px;
}

.NewEntryButton {
  padding: 5px;
}

.ContentContainer {
  background-color: #62008f;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
